html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.wrapped {
  width: 85%;
  margin: auto;
  max-width: 1920px;
}
