@import "./mouse-scroll.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.wrapped {
  width: 90%;
  margin: auto;
  max-width: 1280px;
}
